body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #faffff;
}
/* Set app to fit whole screen */

#app {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* How the panels look like  */

#projects-pane {
    flex: 1 0 0;
    border-right: 1px solid #3e92cc;
}

#projects-title {
    font-size: 2em;
    color: #13293d;
    padding-left: 1em;
    text-transform: capitalize;
}

#projects-input {
    font-size: 1.5rem;
    background-color: #bfdaec;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
}

.project {
    font-size: 1.5rem;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
}

.project:hover {
    background-color: #cdf3f3;
    cursor: pointer;
}

.project.active {
    background-color: #cdd1f3;
    border-left: 5px solid #707df0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#tasks-pane {
    flex: 3 0 0;
}

#tasks-title {
    font-size: 2em;
    color: #13293d;
    padding-left: 1em;
    text-transform: capitalize;
}

#tasks-input {
    font-size: 1rem;
    background-color: #bfdaec;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    z-index: 100;
}

/* Tasks list */

.task {
    padding: 2em;
}

.task:hover {
    background-color: #cdf3f3;
}

/* Detail panel */

#details-pane {
    flex: 2 0 0;
}

#details-title {
    font-size: 2em;
    color: #13293d;
    padding-left: 1em;
    text-transform: capitalize;
}
